/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

#lkn-fee-recovery-input {
    cursor: pointer;
    width: 15px;
    height: 15px;
}

#lkn-fee-recovery-wrap {
    padding: 2% 1% 2% 1%;
    position: relative;
    display: block;
    line-height: 1em;
    box-sizing: border-box;
    clear: both;
}

#lkn-fee-recovery-list-wrap {
    padding-left: 0px !important;
}

.lkn-fee-recovery-label {
    cursor: pointer;
    font-size: 1rem;
}